<!DOCTYPE html>
<html lang="en">
<head <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <title>Login</title>
</head>
<body>
    <nav id="navbar">
        <h1>TIMETABLE MANAGEMENT SYSTEM</h1>
    </nav>
    <div class="main">
        <h2>Login</h2>
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="Username"><br>

            <input type="password" name="password" placeholder="Password" required><br>

            <select name="role" required>
                <option value="">--Select Role--</option>
                <option value="student">Student</option>
                <option value="admin">Admin</option>
            </select><br>

            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="/signup">Sign up here</a></p>
    </div>
    
</body>
</html>
