<!-- templates/signup.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <title>Sign Up</title>
</head>

<body>
    <nav id="navbar">
        <h1 style="color: black;">TIMETABLE MANAGEMENT SYSTEM</h1>
    </nav>
    <div class="main">
        <h2>Sign Up</h2>
        <form action="/signup" method="post">

            <input type="text" name="username" placeholder="Username"><br>
            <input type="password" name="password" placeholder="Password" required><br>
            <select name="role" required>
                <option value="">--Select Role--</option>
                <option value="student">Student</option>
                <option value="admin">Admin</option>
            </select><br>
            <button type="submit" style="background-color: rgb(46, 40, 92);">Sign Up</button>
        </form>
        <p>Already have an account? <a href="/login">Log in</a></p>
    </div>

</body>

</html>